NEXT_PUBLIC_SUPABASE_TARGET=local

ADMIN_EMAIL=

NEXT_PUBLIC_LOCAL_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_LOCAL_SUPABASE_ANON_KEY=
LOCAL_SUPABASE_SERVICE_ROLE_KEY=
LOCAL_POST_IMAGE_BUCKET=post-images

NEXT_PUBLIC_REMOTE_SUPABASE_URL=
NEXT_PUBLIC_REMOTE_SUPABASE_ANON_KEY=
REMOTE_SUPABASE_SERVICE_ROLE_KEY=
REMOTE_POST_IMAGE_BUCKET=post-images
